<div class="text-xs text-gray-600">
  <span>Copyright 2020 {{ metadata.author.name }}.</span>
  <span>View source at <a class="text-orange-500 hover:text-orange-600" href="https://github.com/napjoseph/napjoseph.github.io">GitHub</a>.</span>
</div>
