<div class="text-xs text-gray-600">
  <span>Copyright 2020 {{ metadata.author.name }}.</span>
  <span>View source at <a href="https://github.com/napjoseph/napjoseph.github.io">GitHub</a>.</span>
</div>
