<span class="uppercase text-4-1/2xl font-bold"><span class="text-blue-700"><span class="text-5xl">n</span><span>ap</span></span><span class="text-blue-500"><span class="text-5xl">j</span><span>ose</span><span>.</span><span>ph</span></span></span>
