<!doctype html>
<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8"/>

    <title>{{ title }} | {{ metadata.site.title }}</title>

    <meta name="description" content="{{ description or metadata.description }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#fafafa"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700,700i|Roboto:400,400i,700,700i&display=swap"/>
    <link rel="stylesheet" href="main.css"/>
  </head>

  <body>
    <!--[if IE]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.
      </p>
    <![endif]-->

    <header>
      {% include "header.njk" %}
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer>
      {% include "footer.njk" %}
    </footer>

    <script src="main.js"></script>

    {% include "gtag.njk" %}
  </body>

</html>
