<!doctype html>
<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8"/>

    <title>{{ title }} | {{ metadata.site.title }}</title>

    <meta name="description" content="{{ description or metadata.description }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#fafafa"/>

    <link rel="stylesheet" href="main.css"/>
  </head>

  <body>
    <!--[if IE]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.
      </p>
    <![endif]-->

    <header>
      <nav>
        <h1 class="branding">
          <a href="{{ metadata.site.url }}">
            {{ metadata.site.title }}
          </a>
        </h1>
      </nav>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer>
      <p>
        <span>Copyright 2020 {{ metadata.author.name }}.</span> |
        <span>View source at <a href="https://github.com/napjoseph/napjoseph.github.io">GitHub</a>.</span>
      </p>
    </footer>

    <script src="main.js"></script>

    {% include "ga.njk" %}
  </body>

</html>
