<!doctype html>
<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8"/>

    <title>{{ title }} | {{ metadata.site.title }}</title>

    <meta name="description" content="{{ description or metadata.description }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#fafafa"/>
  </head>

  <body>
    <!--[if IE]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.
      </p>
    <![endif]-->

    <header>{{ metadata.site.title }}</header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer>Copyright 2020 {{ metadata.author.name }}.</footer>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ tracking.gtagId }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', '{{ tracking.gtagId }}');
    </script>
  </body>

</html>
