// colors
$primary-color: #0079bb;
$logo-primary-color: #255975;
$logo-secondary-color: #0079bb;

// fonts
$primary-font-family: 'Roboto', Arial, sans-serif;
$secondary-font-family: 'Fira Sans', Verdana, sans-serif;
