$primary-color: #0079bb;

nav {
  .branding {
    color: $primary-color;
  }

  a {
    text-decoration: none;

    &:link,
    &:active,
    &:visited,
    &:hover {
      color: inherit;
    }
  }
}
