@use 'theme';

html,
body {
  font-family: theme.$primary-font-family;

  a {
    text-decoration: none;
  }
}

.logo {
  font-family: theme.$secondary-font-family;
  font-weight: 700;
  font-size: 1.8rem;
  text-transform: uppercase;

  .nap {
    color: theme.$logo-primary-color;
  }

  .joseph {
    color: theme.$logo-secondary-color;
  }

  .nap .n,
  .joseph .j {
    font-size: 2.1rem;
  }
}
