---
layout: base
title: Home
eleventyNavigation:
  key: Home
  order: 1
---
<div class="mb-3">
  {% set postsList = collections.posts | head(-3) %}
  {% set postsListCounter = collections.posts | length %}

  {% include "posts-list.njk" %}
</div>

<p class="my-5">More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
